
body
{
	font-family: Tahoma, Verdana, sans-serif;
	background-color: #fff;
	color: #000;
	font-size: 95%;
	margin: 0;
	text-align: center;
}

a:link, a:visited
{
	color: #01f;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

/* Basic Layout */

#outer_container
{
	color: #333;
	margin: 0 auto;
	text-align: left;
	width: 80%;
}

#container
{
	background-color: #fff;
	border: solid #ccc;
	border-width: 0px 1px 1px;
}

#inner_container
{
	border: 6px solid #fff;
}

#header
{
      background-color: #528CCC;
      color: #FFF;
	
}

#header h1
{
	border-bottom-width: 0;
	background-color:#000080;
	color: #fff;
	margin: 0;
	padding: 6px 12px 0;
}

#header h2
{
	border-bottom-width: 0;
        background-color:#000080;
	color: #000;
	font-weight: normal;
	margin: 0;
	padding: 0 12px 6px;
}

#navigation_top
{
	background-color: #fff;
	text-align: center;
	font-weight: bold;
}

#navigation_top ul
{
	border-bottom: 1px solid #ccc;
	color: #fff;
	list-style-type: none;
	margin: 0;
	padding: 0 0 6px;
}

#navigation_top li
{
	color: #fff;
	display: inline;
	margin: 0;
	padding: 0;
}

#footer
{
	background: #00f;
	color: #fff;
}
#footer p
{
	line-height: 3em;
	margin: 0;
	padding: 0;
	text-align: center;
}

/* Content */

h1, h2, h3, h4, h5, h6
{
	border-bottom: 1px solid #333;
        color: blue;
	padding: 10px 0 2px;
	margin: 0;
}

p
{
	font-size: 85%;
	line-height: 1.4em;
	margin: 0;
	padding: 0px 0px 18px 12px;
}

ul,ol
{
	padding: 9px 0px 9px 12px;
	margin: 0 0 0 12px;
}

li
{
	font-size: 85%;
	line-height: 1.25em;
	padding: 1px 0 2px;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1.0em;
	margin: 0 auto 0.5em;
	padding: 0;
}

th, td
{
	border: 1px solid #e8e8e8;
	line-height: 1.4em;
	margin: 0;
	padding: 0.5em;
}

/* Special Classes */

.menu
{
	list-style-type: none;
	margin: 0;
	padding: 0 0 0.5em;
}
.menu li
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li ul
{
	margin: 0.5em 0 0.5em 0.5em;
	padding: 0;
}
.menu li a, .menu li a:link, .menu li a:visited, .menu li a.current:hover, .menu li a.current:active
{
	display: block;
	background-color: #f8f8f8;
	border-left: 0.2em solid #ddd;
	line-height: 1.8em;
	margin-top: 0.5em;
	padding: 0.5em;
	text-decoration:none;
}

.menu li a:hover, .menu li a:active, .menu li a.current, .menu li a.current:link, .menu li a.current:visited
{
	background-color: #e8e8e8;
	border-left-color: #01D510;
}

.menu li a.current:hover, .menu li a.current:active
{
	background-color: #f8f8f8;
	border-left-color: #ddd;
}

/* Colour Scheme */

.blue3 a, .blue3 a:link, .blue3 a:visited
{
	color: #025;
}

body.blue3
{
	background-color: #fff;
	color: #333;
}

.blue3 #container
{
	border-color: #fff;
}

.blue3 #header
{
	background: #025 url(../img/header.gif) bottom left repeat-x;
}

.blue3 #navigation_top ul, .blue3 #navigation_bottom ul, .blue3 #menu, .blue3 #extra, .blue3 #content
{
	border-color: #ddd;
	padding: 10px 0 10px 0;
}

.blue3 #footer
{
	background-color: #259;
}

.blue3 h1, .blue3 h2, .blue3 h3, .blue3 h4, .blue3 h5, .blue3 h6, .blue3 dt
{
	border-bottom-color: #fff;
	color: blue ;
	padding: 0 0 10px 10px;
}

/* Layout */

.layout_2_1 #menu
{
	border: solid #ccc;
	border-width: 0 0 1px;
	float: left;
	margin-bottom: 6px;
	padding-bottom: 6px;
	width: 150px;
}

.layout_2_1 #extra
{
	border-width: 0;
	clear: both;
	float: left;
	width: 150px;
}

.layout_2_1 #content
{
	border: solid #ccc;
	border-width: 0 0 0 1px;
	margin-left: 156px;
	padding-left: 6px;
}

.sidebar_container
{ float: right;
  width: 230px;
  margin: 20px 20px 20px 0;}

.sidebar
{ float: left;
  width: 210px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Arial, Helvetica, sans-serif;
  padding: 0 0 0 10px;
  width: 260px;}

.sidebar h2
{ background: #528CCC;
  color: #FFF;
  width: 260px;
  padding-left: 10px;}
  
.sidebar h4
{ font-size: 125%;
  color: #000;}

.sidebar ul li, .sidebar ul li.selected
{ 
    padding: 15px 0px 15px 0px;
	border-top: 1px solid #E5E5E5;
    list-style:none
}
.sidebar ul a
{
	color: #747474;
}

html #outer_container #container #inner_container h1 a, html #outer_container #container #inner_container h2 a, html #outer_container #container #inner_container h3 a, html #outer_container #container #inner_container h4 a, html #outer_container #container #inner_container h5 a, html #outer_container #container #inner_container h6 a, html #outer_container #container #inner_container #header a, html #outer_container #container #inner_container #footer a, html #outer_container #container #inner_container h1 a:link, html #outer_container #container #inner_container h2 a:link, html #outer_container #container #inner_container h3 a:link, html #outer_container #container #inner_container h4 a:link, html #outer_container #container #inner_container h5 a:link, html #outer_container #container #inner_container h6 a:link, html #outer_container #container #inner_container #header a:link, html #outer_container #container #inner_container #footer a:link, html #outer_container #container #inner_container h1 a:visited, html #outer_container #container #inner_container h2 a:visited, html #outer_container #container #inner_container h3 a:visited, html #outer_container #container #inner_container h4 a:visited, html #outer_container #container #inner_container h5 a:visited, html #outer_container #container #inner_container h6 a:visited, html #outer_container #container #inner_container #header a:visited, html #outer_container #container #inner_container #footer a:visited
{
	color: #FFF;
	text-decoration: none;
}
html #outer_container #container #inner_container h1 a:hover, html #outer_container #container #inner_container h2 a:hover, html #outer_container #container #inner_container h3 a:hover, html #outer_container #container #inner_container h4 a:hover, html #outer_container #container #inner_container h5 a:hover, html #outer_container #container #inner_container h6 a:hover, html #outer_container #container #inner_container #header a:hover, html #outer_container #container #inner_container #footer a:hover, html #outer_container #container #inner_container h1 a:active, html #outer_container #container #inner_container h2 a:active, html #outer_container #container #inner_container h3 a:active, html #outer_container #container #inner_container h4 a:active, html #outer_container #container #inner_container h5 a:active, html #outer_container #container #inner_container h6 a:active, html #outer_container #container #inner_container #header a:active, html #outer_container #container #inner_container #footer a:active
{
	color: #FFF;
	text-decoration: underline;
}