@using DotNet.Highcharts;
@model DotNet.Highcharts.Highcharts
@Scripts.Render("http://code.highcharts.com/highcharts.js")

<p style="font-family:arial;color:gray;font-size:15px;font-style:italic"> * This page the downloads per NuGet client in the last week.</p>

@(Model)
